[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"

[dev-packages]
pytest = "*"
requests = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
