[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
sqlalchemy = "*"
async-exit-stack = "*"
async-generator = "*"

[dev-packages]
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
requests = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
